*{
    margin: 0;
    /* border: 1px solid red; */
    padding: 0;
    /* border: 1px solid red; */
}
* a{
    text-decoration: none;
}
body{
    font-family: 'Outfit', sans-serif;
}
.why{
    position: relative;
    width: 100%;
    overflow: hidden;
}



#header{
    /* border: 1px solid red;   */
    /* width: 1451px; */
    /* position: relative; */
    overflow: hidden;
    z-index: 1;
    height: 664px;
}
.vide{
    position: absolute;
    top: 0;
    overflow: hidden;
    width:100%;
    z-index: -1;
}
.vide
.ss svg{
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 25px;
    fill: rgb(242, 54, 16);
    /* font-family: Arial, Helvetica, sans-serif; */
}
.ss{
    display: flex;
    /* font-family: Arial, Helvetica, sans-serif; */
    gap: 20px;
}
#header video{
    width: 100%;
    padding: 50px 0px;
    height: 100%;

}


.link ul{
    list-style-type: none;
}
.link ul li{
    gap: 30px;
    display: flex;
    justify-content: center;
}
.link ul li a{
    /* position: relative;
    left: 43%; */
    font-size: 20px;
    padding: 20px 20px 0px 0px;
    text-transform: capitalize;
    text-decoration: none;
    color: aliceblue;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* z-index: 1; */
    transition: 0.5s;
}
.link ul li a:hover{
    color: rgb(242, 54, 16);
}

.middle{
    position: absolute;  
    /* float: inline; */
    top:45%;
    left: 32%;
    color: aliceblue;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.middle span p{
    font-size: 17px;
    text-align: center;
}


.link ul li span{
    
    color: aliceblue;
    font-weight: 1700;
    /* height: 30px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(242, 54, 16);
}
.container{
    display: flex;
    justify-content: space-evenly;
  
    color: rgb(255, 255, 255);
    padding: 10px 0px 0px 0px;
    /* background-color: transparent; */
   
    /* z-index: 1; */
    
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.359);
}

.ss{
    width: 98.6%;
    height: 40px;
    background-color:#f8cb2e;
}
.hea h1{
 padding: 10px 0px 20px 0px;
 text-transform: capitalize;
 font-size: 35px;
 /* font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}
.kl span{
    position: relative;
    left: 40%;
    top: 10%;
    color: aliceblue;
    font-weight: 1700;
    /* height: 30px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 20px;
    text-transform: capitalize;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(242, 54, 16);   
}
.kl {
    padding: 60px 0px 0px 0px;
}
.downp{
    display: flex;
    /* justify-content: center; */
    color: aliceblue;
    /* font-family: Arial, Helvetica, sans-serif; */
    position: absolute;
    /* width: 1200px; */
    top: 105%;
    gap: 20px;  
}
@keyframes serge {
    0%{
         transform: rotate(0deg);
     }
     
     100%{
       
         transform: rotate(360deg);
     }
 
 }
.p1 svg{
    height: 30px;
    width: 30px;
    fill: rgb(242, 54, 16) ;
    padding: 3px 0px 0px 0px;
}
.svg1:hover {
    animation: serge 2s linear infinite; 
    background-color: #F8CB2E;   
}
.svg3:hover {
    animation: serge 2s linear infinite; 
    background-color: #F8CB2E;   
}
.svg2:hover {
    animation: serge 2s linear infinite;   
    background-color: #F8CB2E;   
}
.p2 svg{
    height: 30px;
    width: 30px;
    fill: rgb(242, 54, 16) ;
    padding: 3px 0px 0px 0px;
}.p3 svg{
    transition: 0.4s;
    height: 17px;
    width: 17px;
    fill: white;
    padding: 12px;
    border-radius: 50%;
    background-color: rgb(242, 54, 16) ;
}
.p1{
    display: flex;
    justify-content: center;
    gap: 8px;
padding: 0px 0px 0px 70px;
}
.p2{
    padding: 0px 0px 0px 70px;
    display: flex;
    gap: 8px;


    }.p3{
        padding: 0px 0px 0px 140px;
    display: flex;
    gap: 8px;


        }


#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/edward-unsplash-blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 700px;
    /* gap: 50px; */
    /* font-family: Arial, Helvetica, sans-serif; */
}
.left{
    padding: 0px 0px 0px 50px;
}
.right{
    position: relative;
    padding: 0px 50px 0px 0px;
}
.right img{
height: 450px;
width: 670px;
border-radius: 20px;
}
.bix{
    position: absolute;
    /* height: 70px; */
    padding:7% 20px 7% 20px;
    width: 565px;
    display: flex;
    top: 50%;
    border-radius: 20px;
    gap: 20px;
    left: 5%;
    /* background-color: rgba(240, 248, 255, 0.559); */
    background-color: rgba(240, 248, 255, 0.519);
    backdrop-filter: blur(10px);
}
.lef svg{
    width: 27px;
    height: 27px;
    background-color: #f8cb2e;
    padding: 17px;
    border-radius: 50%;
}
.rig p{
color: black;
font-weight: 100;
/* font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.left h1{
    font-size: 50px;
    color: white;
}
.left{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.left p{
    font-size:14px;
    font-weight: 200;

}
.left h2{
    font-size: 27px;
}
.le1 ,.le2 ,.le3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#artist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* height: 960px; */

    padding: 70px 10px;
}
.sac{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* height: 960px; */

    padding: 70px 10px; 
}
.art{
    display: flex;
    justify-content: center;
    gap: 30px;

    left: 10%;
    
    width: 100%;
}
.lift{
    width: 480px;
    height:700px;
    
    background-image: url(./images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}
.reght{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.lift1{
   
   background-image: url(./images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg);
     background-repeat: no-repeat;
     background-size: 100%; 
      border-radius: 15px;
     position: relative;
     overflow: hidden;
     width: 530px;
     height:330px;

}
.lift2{
     background-image: url(./images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg);
     background-repeat: no-repeat;
     background-size: 100%; 
      border-radius: 15px;
     position: relative;
     overflow: hidden;
     width: 530px;
     height:330px;
     
}

.box{

width: 380px;
padding: 7% 30px;
background-color: #f4b115b7;
display: flex;
border-radius: 20px;
flex-direction: column;

gap: 17px;
position: absolute;
top:100%;
left: 4.5%;
opacity: 0;
transition: 0.5s;
backdrop-filter: blur(8px);
}
.box1{

    width: 430px;
    padding: 42px 30px;
    background-color: #f4b115b7;
    backdrop-filter: blur(8px);

    display: flex;
    border-radius: 20px;
    flex-direction: column;

    gap: 17px;
    position: absolute;
    top:100%;
    left: 4.5%;
    opacity: 0;
    transition: 0.5s;
    }
hr{
    font-size: 1px;
    height: 0.1px;
    border: 1px solid rgb(0, 0, 0);
}
.box p{
    text-transform: capitalize;
    font-size: 15px;
    
    padding: 4px 0px 0px 0px;
    color: #717275;
}
.box1 p{
    text-transform: capitalize;
    font-size: 15px;
    
    padding: 4px 0px 0px 0px;
    color: #717275;
}
.box h2{
    color: aliceblue;
    text-transform: capitalize;
    font-size: 19px;
}
.box1 h2{
    color: aliceblue;
    text-transform: capitalize;
    font-size: 19px;
}
.bo1{
    display: flex;
    flex-direction: column;
    
    gap: 25px; 
}
.bo3{
    display: flex;
    gap: 25px; 
    flex-direction: column;
}
.bo21{
    display: flex;
    gap: 30px;

}
.bo2{
    display: flex;
    justify-content: space-around;
}
.bo2 p{
cursor: pointer;
color: rgb(242, 54, 16) ;
transition: 0.3s;

}
.bo2 p:hover{
color: aliceblue;

}
.lift:hover .box{
    top: 63%;
    opacity: 1;

}
.lift1:hover .box1{
    top: 10%;
    opacity: 1;

}
.lift2:hover .box1{
    top:10%;
    opacity: 1;

}
.bo22{
    display: flex;
    gap: 10px;
}

tr, td,th{
    /* border: 1px solid black; */
    /* border: collapse; */

}

#schedule{
    display: flex;
    flex-direction: column;
    height: 800px;
    gap: 50px;
    padding: 50px 0px 0px 0px;
    background-image: url(./images/nainoa-shizuru-unsplash-blur.jpg);
    align-items: center;
    /* justify-content: center; */
    color: aliceblue;
    text-transform: capitalize;
} 
.table{
    display: flex;
    flex-direction: column;
    height: 800px;
    gap: 50px;
    padding: 150px 0px 0px 0px;
    align-items: center;
    position: relative;
    /* justify-content: center; */
    color: aliceblue;
    text-transform: capitalize;
}
table{
    box-shadow: 03px 03px 10px rgba(255, 255, 255, 0.421);
    border-radius: 15px;
     border-collapse: collapse;
}
.dd h1{
    font-size: 50px;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 40px; */
    height: 170px;
    width: 350px;
    background-image: url(./images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.empty1{
    /* padding: 40px; */
    height: 170px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(./images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg);
    background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;
}
.empty2{
    background-color: #212529;
    border-radius: 0px 0px 15px 0px;
    /* padding: 40px; */
    height: 170px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(./images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg);
    background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center;
}
.tank{
    padding: 15px;
    background-color: rgb(242, 54, 16);
   
}
.tank1{
    padding:15px;
    background-color: rgb(242, 54, 16);
    border-radius: 15px 0px 0px 0px;
}
.tank2{
    padding: 30px;
    background-color: rgb(242, 54, 16);
    border-radius: 0px 15px 0px 0px;
}
.bank{
    background-color: #212529;
    text-transform: capitalize;
    padding: 0px 0px 0px 15px;
}
.bank1{
    background-color: #212529;
    text-transform: capitalize;
    padding: 0px 0px 0px 15px;
    border-radius: 0px 0px 0px 15px;
}
.lafp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    justify-content: center;
    align-self:center ;
    gap:0px ;
    padding: 30px 0px 0px 0px;
    width: 350px;

}

.laft{
    /* padding: 30px; */
    height:270px;
    width: 550px;
    border: 5px dotted rgb(38, 38, 38);
    border-radius: 17px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
}
#pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 700px; */
    padding:100px 0px;
    gap: 20px;
     background-color: azure;
    flex-direction: column;
}
.sade{
    display: flex;
    gap: 35px;
    
}
.sade span{
    font-size: 30px;
}
.boq{
   height: 120px;
   width: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 3%;
    right: 10%;
    color: white;
    justify-content: center;
    background-color:rgb(242, 54, 16) ;
}
.sss{
    position: absolute;
    top: 3%;
    right: 6%;
}
.raght{
    /* padding: 30px; */
    height:300px;
    width: 570px;
    border: 5px dotted rgb(38, 38, 38);
    border-radius: 17px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0px;
    flex-direction: column;
}
.ticket {
    /* color: rgb(242, 46, 16); */
    color: #f8cb2e;
    position: relative;
    top: 30px;
    /* border: 1px solid black; */
    width: 90px;
    
    
}
.ticket p{
font-size: 20px;
text-transform: capitalize;
}
.ticket::before{
    content: "";
    position: absolute;
    top: 90%;
    background-color: #f8cb2e;
    height: 2px;
    width: 79px;
    left: 0;
    transition: 0.4s;
}
.ticket:hover::before{
    left: 100%;
    width: 0;
}

.dd{
    position: absolute;
    top: 5%;
}

.nigga input{
    height: 45px;
    width: 306px;
    padding: 0px 0px 0px 10px;
    
  
}
.inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    height: 370px;
    padding: 30px;
    gap: 30px;
    border-radius: 30px;
    /* border: 1px solid black;  */
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.211) ;
    background-color: rgb(255, 255, 255);

   
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.comp{
    height: 50px;
    width: 630px;
    padding: 0px 0px 0px 10px;

}
#contact{
    padding: 30px 0px 0px 0px;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    display: flex;
    position: relative;
    height: 700px;
    justify-content: center;

}
.bnt button{
    /* height: 10px; */
    padding: 15px;
    width: 300px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: rgb(242, 54, 16);
    color: aliceblue;
    font-size: 17px;
}
.bnt{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 28%;
}
input{
    border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.527);
}
#contact h1{
font-size: 55px;
}
.bax{
    display: flex;
    gap: 20px;
    padding: 10px;
    width: 500px;
    background-color: rgba(212, 237, 248, 0.671);
    border-radius: 50px;
    /* border: 1px solid black; */
    position: absolute;
    top: 21%;
    text-transform: capitalize;
    /* overflow: hidden; */
}

.ba1{
    padding: 15px 40px;
    width: 220px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.419);
    background-color: rgb(255, 255, 255);
    color: #F8CB2E;
    cursor: pointer;

}
.ba2{
    padding: 15px 40px;
    width: 220px;
    border-radius: 30px;
    /* color: rgba(0, 0, 0, 0.735);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.419);
    background-color: rgb(255, 255, 255); */
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.735);
    cursor: pointer;

}
.ba2:hover{
    color: #F8CB2E;
    padding: 15px 40px;
    width: 220px;
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.419);
    background-color: rgb(255, 255, 255);
}
.foo2{
    padding: 15px 0px 0px 0px;
    display: flex;
    gap: 10px;
}

.foo2 svg{
    transition: 0.4s;
    height: 20px;
    width: 20px;
    fill: white;
    padding: 12px;
    border-radius: 50%;
    background-color: rgb(242, 54, 16) ;
}
.foo1 h1{
    color: aliceblue;
    font-size: 70px;
}
.foot1{
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 54, 16);
    padding: 20px;
}
.foot2{
    background-color: #000000;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.lank{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.lank h2{
    color: #F8CB2E;
    font-size: 30px;
}
.lank ul{
    list-style-type: none;
}
.lank ul li{
   
}
.lank ul li a{
   
    font-size: 20px;
    padding: 20px 15px 0px 0px;  
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.6s;
    color: aliceblue;
}
.lank a:hover{
    color:rgb(242, 54, 16) ;
}
.que{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.que h2{
    font-size: 30px;
    color: #F8CB2E;
}
.que a{
    color: aliceblue;
    transition: 0.6s;
}
.que a:hover{
    color:rgb(242, 54, 16);
}
.location{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aliceblue;
    width: 270px;
}
.location h2{
    font-size: 30px;
    color: #F8CB2E;
}
.location p{
    text-transform: capitalize;
    font-size: 17px ;
    font-weight: 100;
}
.tick{
    /* color: rgb(242, 46, 16); */
    color: #ffffff;
    position: relative;
    top: 0px;
    /* border: 1px solid black; */
    width: 90px;
    
    
}
.tick p{
    font-size: 20px;
    text-transform: capitalize;
    }
    .tick::before{
        content: "";
        position: absolute;
        top: 90%;
        background-color: #ffffff;
        height: 2px;
        width: 88px;
        left: 0;
        transition: 0.4s;
    }
    .tick:hover::before{
        left: 100%;
        width: 0;
    }
    .foot3{
        background-color: #000000;
        padding: 50px;
        display: flex;
        gap: 50px;
        flex-direction: column;
        border-top: 1px solid rgba(255, 255, 255, 0.517)    ;
        color: #ffffff;
        justify-content: space-between;
    }
    .copy{
        display: flex;
        gap: 30px;
        font-weight: 100;
    }
    .o p{
        text-transform: capitalize;
        transition: 0.5s;
        cursor: pointer;
    }
    .po{
        display: flex;
        gap: 20px;
    }
    .po p{
        text-transform: capitalize;
        transition: 0.5s;
        cursor: pointer;
    }
    .po p:hover{
        color: rgb(242, 54, 16) ;
    }
    .cop{
        display: flex;
        gap:05px;
    }
    .c p{
        color: #f8cc2ed3;
        transition: 0.5s;
    }
    .c:hover p{
        color: rgb(242, 54, 16) ;
    }


    @media (max-width:1212px) {
        .sade{
            display: flex;
            flex-direction: column;
        }
       .p1 , .p2 ,.p3 {
        padding: 0px 0px 0px 30px;
       }
       .downp{
        display: flex;
        gap: 0px;
        position: absolute;
        top: 17%;
       }
    }
    @media (max-width:1000px) {
        .sac{
            display: grid;
            grid-template-columns: ;

        }
        
    }
    @media (max-width:1167px) {
        .downp{
            transform: scale(0.8);
            border: 1px solid;
            position: absolute;
            left: 0;
            /* width: 100%; */
        }
        
    }