*{
    margin: 0;
}
.container{
    height: 800px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
}
.contain{
    
 height: 1200px;
 width: 800px;
 display: flex;
 margin: 0 0 0 -3600px;
 position: relative;
 -webkit-animation-direction: alternate;
 -webkit-animation-name: slides;
 -webkit-animation-play-state: running;
 -webkit-animation-duration: 23s;
 -webkit-animation-iteration-count: infinite;
}
.img-container{
   height: 800px;
   width: 1200px;
   float: left;
   position: relative;
}
@-webkit-keyframes slides{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}

}